

* {
  box-sizing: border-box;
}

body {
  background-color: #f8f8ff;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  margin: 0;
  padding: 0;
}

.bg-navbar a {
  font-size: 1.5rem;
}

.btn-color {
  background-color: #c48000;
  color: #f8f8ff;
}

.btn-color:hover {
  background-color: #f8f8ff;
  color: #123471;
}

.index-card-row {
  padding: 1% 10% 1% 10%;
}

.card-row .col-md-3 {
  padding: 16px;
}

.card-index {
  box-shadow: 0px 0px 6px hsla(0, 0%, 0%, 0.25);
  border-radius: 16px;
}

.card-img-top {
  border-radius: 16px 16px 0 0;
}

.btn-card {
  width: 100%;
  background-color: #123471;
  color: #f8f8ff;
}

.btn-card:hover {
  background-color: #c48000;
  color: #f8f8ff;

}

.index-card-row .carousel-control-prev {
  left: -10%;
}

.index-card-row .carousel-control-next {
  right: -10%;
}

.footer-tur {
  background-color: #123471;
  padding: 24px;
  color: ghostwhite;
}

.footer-tur ul{
  list-style-type: none;
}

.footer-tur h4{
  font-weight: 600;
}

.footer-icons img{
  max-height: 26px;
}

.footer-center {
  text-align: center;
}

.index-card-row .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2334355c'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0'/%3e%3c/svg%3e")
    /*rtl:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708'/%3e%3c/svg%3e")*/
  ;
}

.index-card-row .carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2334355c'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708'/%3e%3c/svg%3e")
    /*rtl:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0'/%3e%3c/svg%3e")*/
  ;
}


